<header class="flex">
  <div class="w-1/2">
    <div class="inline-flex text-gray-600">
      <h1 class="font-semibold text-2xl">Change Password</h1>
    </div>
  </div>
</header>
<section class="flex mt-6">
  <div class="w-full" data-controller="message">
    <%if !flash[:notice].blank? %>
      <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500 mt-4">
        <span class="inline-block align-middle mr-8">
          <%= flash[:notice]%>
        </span>
      </div>
    <% end %>
    <div class="w-full z-10" data-target="message.errors"></div>
    <%= render partial: 'form', locals: { user: @user } %>
  </div>
</section>
