<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p dir="ltr">Hi there,</p>
    <p dir="ltr">You are almost there! We need some additional information to approve your FindMyDirectDoctor account.&nbsp;<br />
      Please provide us the following information in order to resume your account approval process - <%=@comment%><br />
      <p dir="ltr">Click this URL to upload the missing information: <%=@request_info_url%><br />
        Once you have an approved profile account, you can use it to unlock massive benefits that will skyrocket your practice.</p>
      <p dir="ltr"><strong>What can you do with your profile account:&nbsp;</strong></p>
      <ol>
        <li aria-level="1" dir="ltr">
          <p dir="ltr" role="presentation">You can create a listing for your medical practice. Add / edit your profile information.</p>
        </li>
        <li aria-level="1" dir="ltr">
          <p dir="ltr" role="presentation">You can write a review of your fellow direct care providers.&nbsp;&nbsp;</p>
        </li>
      </ol>
      <p dir="ltr"><strong>7 Massive Benefits You Get By Creating Your Listing:</strong></p>
      <ul>
        <li aria-level="1" dir="ltr">
          <p dir="ltr" role="presentation">FindMyDirectDoctor&rsquo;s state of the art SEO (Search Engine Optimization) will drastically increase your online presence, with potential to be on the 1st page of Google and Bing search engines.</p>
        </li>
        <li aria-level="1" dir="ltr">
          <p dir="ltr" role="presentation">Increases your profits! Increased online exposure -&gt; more leads -&gt; more patient sign ups -&gt; more revenue.</p>
        </li>
        <li aria-level="1" dir="ltr">
          <p dir="ltr" role="presentation">Competitive advantage over other DPC/Concierge practices in your area.</p>
        </li>
        <li aria-level="1" dir="ltr">
          <p dir="ltr" role="presentation">Turn healthcare shoppers into your patients, and cultivate new patient relationships.</p>
        </li>
        <li aria-level="1" dir="ltr">
          <p dir="ltr" role="presentation">Promote your boutique services on FindMyDirectDoctor.com.</p>
        </li>
        <li aria-level="1" dir="ltr">
          <p dir="ltr" role="presentation">Leverage online reviews from patients to gain social trust.</p>
        </li>
        <li aria-level="1" dir="ltr">
          <p dir="ltr" role="presentation">Increases your online reputation (achieved by a detailed listing page of your practice, voluntary blog post contributions, brand exposure, &amp; patient reviews).</p>
        </li>
      </ul>
      Feel free to reach out to us if you have any further questions!<br />
      We are glad you are here and we appreciate your time.<br />
      Thank you.
      <p dir="ltr"><br />
        Harsha Moole, MD<br />
        Founder&nbsp;&amp; CEO<br />
        FindMyDirectDoctor, LLC.<br />
        <a href="https://www.findmydirectdoctor.com/" target="_blank"><img data-file-id="5368417" height="31" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/3dc004a6-be33-4676-a644-b32f97cf41c2.png" width="70" /></a>&nbsp;&nbsp;<a href="https://www.findmydirectdoctor.com/blogs" target="_blank"><img data-file-id="5368413" height="31" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/a5aaff68-7f01-4531-a6ec-07949d3cd6f7.png" width="70" /></a><br />
        &nbsp;<a href="https://www.facebook.com/Find-My-Direct-Doctor-103928951413548" target="_blank"><img data-file-id="5368389" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/22ce381e-ec8b-44e1-87a8-df7ab1d0c427.png" width="30" /></a>&nbsp;&nbsp;<a href="https://www.linkedin.com/company/68692599/" target="_blank"><img data-file-id="5368385" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/1c1ec5dd-3e58-427b-b75f-12f046dfca2b.png" width="30" /></a>&nbsp;&nbsp;<a href="https://twitter.com/FindMyDirectDoc" target="_blank"><img data-file-id="5368393" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/fecf5494-fa7d-401b-a414-9757ec02a6b2.png" width="30" /></a>&nbsp;&nbsp;<a href="https://www.instagram.com/findmydirectdoctor/" target="_blank"><img data-file-id="5368381" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/5bb6ef6b-da8c-448c-b6e9-a458f7a89393.png" width="30" /></a></p>
    </body>
  </html>
