<div id="post" style="height: auto !important;">
  <h3 class="p1"><strong>What is Real Estate Syndication? ABCs of Real Estate Syndication Investments for a Physician Investor.</strong></h3>
  <p>&nbsp;</p>
  <h3 style="text-align: left;"><i><span style="font-weight: 400;">“Landlords grow rich in their sleep.” – John Stuart Mill</span></i></h3>
  <hr>
  <p class="p1"><span class="s1">What is Real Estate Syndication? This post is the first among a <a href="https://physicianestate.com/blogs/"><span class="s2">series of posts</span></a> that are aimed at discussing the details of Real Estate Syndication deals for physicians, and what that means to a physician investor. In this post, we discuss about the core basics of the topic—what is Real Estate Syndication and who are involved in syndication investments?</span></p>
  <hr>
  <h3 class="p1"><strong>Introduction to Syndication Investments for a Physician Investor</strong></h3>
  <ul>
    <li class="p1"><span class="s1">After graduating from internal medical residency, it did not take long for me to understand the <a href="https://physicianestate.com/wealthy-vs-rich/" target="_blank" rel="noopener noreferrer">difference between being wealthy and being rich</a>. I decided that I wanted to become <a href="https://physicianestate.com/how-to-generate-passive-income/" target="_blank" rel="noopener noreferrer">wealthy and financially free</a>.&nbsp;</span></li>
    <li class="p1"><span class="s1">I made a deliberate choice. Instead of buying into extreme luxuries (which I would still like to have if given a choice), I chose to make my money work for me, and have my money <a href="https://physicianestate.com/7-streams-of-income/" target="_blank" rel="noopener noreferrer">make more money for me passively</a>.&nbsp; I decided to grow wealth by investing into various <a href="https://physicianestate.com/assets-vs-liabilities/" target="_blank" rel="noopener noreferrer">assets</a>.&nbsp;</span></li>
    <li class="p1"><span class="s1">I went out looking for information, to learn about multiple investment options. In this series of posts, although I focus on explaining the basics of syndication investments, I also elaborate on how I eventually ended up choosing Real Estate Syndications as a major part of my investments. But really, what is Real Estate Syndication?</span></li>
  </ul>
  <h3></h3>
  <h3 class="p1"><strong>Real Estate Syndication Definition for a Physician Investor</strong></h3>
  <p><img class="alignnone wp-image-50" src="//physicianestate.com/wp-content/uploads/2019/10/syndication-01-300x196.jpg" alt="What is Real Estate Syndication?" width="579" height="378" srcset="//physicianestate.com/wp-content/uploads/2019/10/syndication-01-300x196.jpg 300w, //physicianestate.com/wp-content/uploads/2019/10/syndication-01-768x501.jpg 768w, //physicianestate.com/wp-content/uploads/2019/10/syndication-01.jpg 1024w, //physicianestate.com/wp-content/uploads/2019/10/syndication-01-20x13.jpg 20w" sizes="(max-width: 579px) 100vw, 579px"></p>
  <ul>
    <li class="p1"><span class="s1">Let’s say you want to buy an eight million dollar shopping mall or a strip mall. However, you do not have that kind of money, or time or expertise to do it by yourself. So, you decide to pool your money with other investors like you, to gather the required dollar amount. Now, you have sufficient money to invest but who is going to do all the work?&nbsp;</span></li>
    <li class="p1"><span class="s1">Next, you have to find the right property, renovate it, manage it, and ensure success. You need to find someone with relevant experience, that does this for you. This is your point of contact person for the whole syndication project. This point of contact person/team goes by one of the following names: General Partner, Sponsor, Fund Operator, or Syndicator. All the investors (including you) that are pooling money into the project are called Limited Partners.&nbsp;</span></li>
    <li class="p1"><span class="s1">What is Real Estate Syndication? Real Estate Syndication is an effective way for a group of investors to pool their capital together in order to invest in larger properties than they could as individual investors. This structure allows investors to invest semi-passively (will explain later), while the sponsor handles the management aspects and day-to-day duties of the project.&nbsp;</span></li>
    <li class="p1"><span class="s1">As investors, your role is to help the sponsor to pool capital to buy the asset, and in return, you will receive a share/stock in the property (i.e. you will own a piece of that property), you will receive distributions from the <a href="https://www.investopedia.com/terms/c/cashflow.asp" target="_blank" rel="noopener noreferrer">cash flow</a> of the Investment, and you also get the proceeds from the final sale of the property.&nbsp;&nbsp;</span></li>
    <li class="p1"><span class="s1">One of the great benefits of investing in syndications is that it gives investors the opportunity to leverage other sponsors’ expertise with their capital. This can open up doors to new asset classes, which helps diversify investors’ holdings, while delivering high returns. Now that you know the<i> </i>Real Estate Syndication definition, it’s time to talk about the specifics.</span></li>
  </ul>
  <p>&nbsp;</p>
  <p class="p1"><strong>Real Estate Syndication is a great investment vehicle for physician investors that:&nbsp;</strong></p>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Lack time to acquire, renovate, and manage a property;</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Lack money to buy a large property all by themselves; and</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Lack expertise to perform all the required tasks.&nbsp;</span></li>
  </ul>
  <p class="p1"><span class="s1">In short, for a physician like me, who wants to enjoy non-clinical spare time with family, but still seeks a high return on investment, syndication investments are optimal to me.</span></p>
  <p>&nbsp;</p>
  <h3 class="p1"><strong>Components of Syndication Investments for a Physician Investor</strong></h3>
  <p class="p1"><strong>Real Estate Syndication Investments Have Two Major Players</strong></p>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Real Estate Sponsor = General Partner = Syndicator = Operator</span></li>
    <li><span style="font-weight: 400;">Physician Investor = Limited Partner</span></li>
  </ul>
  <p>&nbsp;</p>
  <p class="p1"><strong>Real Estate Sponsor</strong></p>
  <p class="p1"><span class="s1">Real estate sponsor will do all the work. The real estate sponsor has everything you need—all the knowledge, expertise and time, but of course, they need your capital to buy these assets and run the business. A real estate sponsor (an individual or a team) puts together the whole deal, and presents an investment opportunity to physician investors. They are the primary decision makers of majority of what happens with the project. </span></p>
  <p class="p1"><span class="s1">When they present an opportunity to a physician investor, it is up to the physician investor to perform their due diligence and make a decision on whether it is a sensible investment opportunity. Real estate sponsor of the project wears multiple hats or hires a specialist team if necessary. The following are the teams that are managed by the real estate sponsor:&nbsp;</span></p>
  <ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Construction Team/Builder — Renovated the property</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Syndication Attorney to legally structure the deal</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Property Management team to manage day-to-day operations</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Accounting Team</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Real Estate Agents to buy and sell the property</span></li>
  </ul>
  <p>&nbsp;</p>
  <p class="p1"><strong>Physician Investor</strong></p>
  <p class="p1"><span class="s1">Physician investors like myself, are always looking for a <a href="https://physicianestate.com/buy-an-apartment-complex/" target="_blank" rel="noopener noreferrer">stable and lucrative investment opportunity</a>. Most Real Estate Syndications take investments only from accredited investors. <a href="https://physicianestate.com/physicians-accredited-investors/"><span class="s2">Make sure you qualify for the accredited investor requirements prior to getting involved in these projects.</span></a> When I find an opportunity that looks interesting, I get in touch with the real estate sponsor, learn about the opportunity, do my due diligence (very important), and eventually invest in the property if everything checks out okay. In return for your investment, you will own a piece/shares of the property. </span></p>
  <p class="p1"><span class="s1">Although syndication investments are usually advertised as <a href="https://physicianestate.com/passive-income-in-real-estate/" target="_blank" rel="noopener noreferrer">passive investments</a>, I personally believe that these are semi-passive. You have to do quite a bit of due diligence to evaluate the property and the real estate sponsor. This takes effort and time. Hence, syndications are never a completely passive investment like stocks managed by a broker. However, after you get into a syndication investment, it is a pretty passive process. For traditional syndication investments, I have my own team to make sure I am doing all the right things. My team includes:&nbsp;</span></p>
  <ul>
    <li class="p1"><span class="s1">My personal Real Estate Attorney to evaluate the syndication investment and recommend an entity structure</span></li>
    <li class="p1"><span class="s1">My Accountant/CPA to advise on tax strategy</span></li>
    <li class="p1"><span class="s1">Veteran Real Estate Professional — This varies depending on the project. I consult with an expert in my social network to make sure the deal looks legitimate and practical.&nbsp;</span></li>
  </ul>
  <p>&nbsp;</p>
  <p class="p1"><span class="s1">Now you know what is Real Estate Syndication and the components of syndication investments. In the <a href="https://physicianestate.com/real-estate-syndication-structure-part-2/"><span class="s2">next part, you will learn how about the Real Estate Syndication structure and time frame of a syndication investment.</span></a>&nbsp;</span></p>
  <p class="p2"><span class="s3">You will find the rest of the topics regarding <span class="s2">Real Estate Syndication</span> for physician investors here.</span></p>
  <p class="p1"><span class="s1">Here at <a href="https://physicianestate.com/" target="_blank" rel="noopener noreferrer">PhysicianEstate</a>, we welcome all physician entrepreneurs to learn about commercial real estate investments, rental property investments, and wealth generation. We encourage all physicians to eventually become real estate physician investors. We know a great deal about Who – What – Why – How.&nbsp;</span></p>
  <p><strong>Stay in touch with us by signing up for our newsletter. </strong><span class="s1">The newsletter will keep you up to speed on the current real estate investments we are looking at, provide physicians with investment opportunities, and much more.&nbsp;&nbsp;</span></p>
  <h6><strong>Legal Disclaimer:</strong><span style="font-weight: 400;"> This is not investment advice. I am not a legal and/or investment advisor. This is my personal blog, and all information found here, including any ideas, opinions, views, predictions, forecasts, commentaries, suggestions, or stock picks, expressed or implied herein, are for informational, entertainment or educational purposes only and should not be construed as personal investment advice. These are my views, it is not a production of my employer, nor is it affiliated with any broker/dealer or registered investment advisor. While the information provided is believed to be accurate, it may include errors or inaccuracies. To the maximum extent permitted by law, PhysicianEstate disclaims any and all liability in the event any information, commentary, analysis, opinions, advice and/or recommendations prove to be inaccurate, incomplete or unreliable, or result in any investment or other losses. You should consult with an attorney or other professional to determine what may be best for your individual needs. Your use of the information on the website or materials linked from the Web is at your own risk.&nbsp;</span></h6>
</div>
