<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p dir="ltr">Hi there,</p>
    Thank you for subscribing to our mailing list. We realize that your time is valuable. Let&rsquo;s right away get to the meat of it.<br />
    <br />
    <strong>Who Are We:</strong>
    <ul>
      <li>We are a physician-owned platform designed to exponentially grow Direct Primary Care (DPC) and Concierge Medicine awareness among patients.</li>
    </ul>
    <strong>What We Do:</strong>
    <ul>
      <li>We are the largest and exclusive directory listing for DPC and Concierge Medicine doctors. We connect patients with best suited boutique direct care doctors.</li>
    </ul>
    <strong>Why Do We Do This?</strong>
    <ul>
      <li>We strongly believe in healthcare models that promote direct relationships between patients and doctors. Direct care models fill the emptiness in doctor-patient relationships.&nbsp;</li>
      <li dir="ltr">Patients will benefit immensely from having a doctor that truly is on their side, and cares from them.</li>
      <li>Why are direct patient care models a better alternative for patients? - <a href="https://www.findmydirectdoctor.com/blogs/direct-patient-care">Read here.</a></li>
    </ul>
    <strong>For Patients:</strong>
    <ul>
      <li>If you are looking for more information about why direct care models are better than the traditional fee for service insurance models - please click <a href="https://www.findmydirectdoctor.com/blogs">HERE</a>.&nbsp;</li>
      <li>If you are looking to find a direct care provider in your neighborhood - please navigate to this <a href="https://www.findmydirectdoctor.com/">page</a>.</li>
    </ul>
    <strong>For Doctors:</strong>
    <ul>
      <li>If you run a DPC or Concierge Medicine practice, you can create your exclusive listing on our website by <a href="https://www.findmydirectdoctor.com/users/sign_in">going here</a>. &gt;15,000 providers have already created their listings, please don&rsquo;t wait to join them.&nbsp;</li>
      <li dir="ltr">Benefits of listing - More digital presence, free SEO boost to increase visibility on online search engines, more patients can find you, and more business opportunities. Learn how we can help you stay ahead of your competition - read more.&nbsp;</li>
      <li dir="ltr">Jobs board - If you are a direct care provider looking for a DPC/Concierge job, or a DPC/Concierge doctor looking to add a provider to you practice, you can use this state of art job listing platform to assist you.&nbsp;</li>
    </ul>
    <p dir="ltr">Feel free to reach out to us if you have any further questions!&nbsp;<br />
      We are glad you are here and we appreciate your time.<br />
      Thank you.<br />
      <br />
      Harsha Moole, MD<br />
      Founder&nbsp;&amp; CEO<br />
      FindMyDirectDoctor, LLC.<br />
      <a href="https://www.findmydirectdoctor.com/" target="_blank"><img data-file-id="5368417" height="31" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/3dc004a6-be33-4676-a644-b32f97cf41c2.png" style="border: 0px initial ; width: 70px; height: 31px; margin: 0px;" width="70" /></a>&nbsp;&nbsp;<a href="https://www.findmydirectdoctor.com/blogs" target="_blank"><img data-file-id="5368413" height="31" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/a5aaff68-7f01-4531-a6ec-07949d3cd6f7.png" style="border: 0px initial ; width: 70px; height: 31px; margin: 0px;" width="70" /></a><br />
      &nbsp;<a href="https://www.facebook.com/Find-My-Direct-Doctor-103928951413548" target="_blank"><img data-file-id="5368389" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/22ce381e-ec8b-44e1-87a8-df7ab1d0c427.png" style="border: 0px  ; width: 30px; height: 30px; margin: 0px;" width="30" /></a>&nbsp;&nbsp;<a href="https://www.linkedin.com/company/68692599/" target="_blank"><img data-file-id="5368385" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/1c1ec5dd-3e58-427b-b75f-12f046dfca2b.png" style="border: 0px initial ; width: 30px; height: 30px; margin: 0px;" width="30" /></a>&nbsp;&nbsp;<a href="https://twitter.com/FindMyDirectDoc" target="_blank"><img data-file-id="5368393" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/fecf5494-fa7d-401b-a414-9757ec02a6b2.png" style="border: 0px initial ; width: 30px; height: 30px; margin: 0px;" width="30" /></a>&nbsp;&nbsp;<a href="https://www.instagram.com/findmydirectdoctor/" target="_blank"><img data-file-id="5368381" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/5bb6ef6b-da8c-448c-b6e9-a458f7a89393.png" style="border: 0px initial ; width: 30px; height: 30px; margin: 0px;" width="30" /></a>
    </p>
  </body>
</html>
