<div id="loading-container" class="loading-container invisible" data-controller="loading" data-target="loading.container">
  <div class="loading-positioner">
    <div class="loading-logo" data-target="loading.logo">
      +
    </div>
  </div>
</div>
