<div id="loading-container" class="loading-container invisible" data-controller="loading" data-loading-target="container">
  <div class="loading-positioner">
    <div class="loading-logo" data-loading-target="logo">
      <%= image_pack_tag "fmdd_loading1.png", class: "w-24 h-24" %>
    </div>
  </div>
</div>
