<div class="lg:flex lg:justify-between lg:items-center lg:px-4 lg:py-3 lg:mx-16 mx-2">
  <div class="mt-32 mb-20 text-lg">
    <div class="flex w-5/6 justify-center text-gray-800 m-auto">
      <div>
        <div class="w-full font-glacialbold text-heading mb-12">
          FMDD Score
          <div class="border-t-2 border-doctor-yellow-500 mt-2 w-1/6"></div>
        </div>
        <div class="mt-3 text-2xl">
          What does that mean?
        </div>
        <div class="mt-3">
          FMDD score (FindMyDirectDoctor score) aims to take a comprehensive overview of a physician’s / provider’s profile using multiple data points with an all inclusive perspective.
        </div>
      </div>
    </div>
  </div>
</div>
