<header class="flex">
  <button class="inline-flex text-gray-600">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-6 text-gray-600">
      <path d="M12 16c-.256 0-.512-.098-.707-.293l-5-5c-.39-.39-.39-1.023 0-1.414l5-5c.39-.39 1.023-.39 1.414 0s.39 1.023 0 1.414L8.414 10l4.293 4.293c.39.39.39 1.023 0 1.414-.195.195-.45.293-.707.293z"></path>
    </svg>
    <span>Orders</span>
  </button>
  <button class="flex-none hover:bg-gray-300 ml-auto px-1 py-1 rounded">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="back" class="fill-current h-5 text-gray-600">
      <path d="M22.4 10.2H7.1c-.5 0-.6-.6-.4-.8l4.5-4.5c.2-.2.2-.7 0-.9l-1-1c-.3-.3-.7-.3-1 0l-8.1 8c-.3.3-.3.7 0 1l8.1 8.1c.3.3.7.3 1 0l.9-1c.3-.3.3-.7 0-1l-4.4-4.4c-.3-.3-.1-.8.3-.8h15.3c.4 0 .7-.3.7-.7v-1.4c.1-.3-.2-.6-.6-.6z"></path>
    </svg>
  </button>
  <button class="flex-none hover:bg-gray-300 ml-2 px-1 py-1 rounded">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="forward" class="fill-current h-5 text-gray-600">
      <path d="M1.6 13.4h15.3c.4 0 .6.5.3.8l-4.4 4.4c-.3.3-.3.7 0 1l1 1c.3.3.7.3 1 0l8-8.1c.3-.3.3-.7 0-1l-8-8.1c-.3-.3-.7-.3-1 0l-1 1c-.2.3-.2.7 0 1l4.5 4.4c.2.3.1.8-.4.8H1.6c-.4 0-.7.3-.7.7v1.3c0 .4.3.8.7.8z"></path>
    </svg>
  </button>
</header>
<div class="flex items-baseline mt-2">
  <h1 class="font-semibold text-2xl">#1032</h1>
  <p class="pl-3 text-gray-700">
    May 25, 2018 at 2:30pm from Draft Orders
  </p>
  <span class="bg-gray-300 border-2 border-white inline-flex items-center leading-none ml-3 px-2 py-1 rounded-full text-gray-700 text-sm border-3"><i class="bg-gray-500 h-2 inline-block mr-1 rounded-full w-2"></i>
    Paid
  </span>
  <span class="bg-yellow-300 border-2 border-white inline-flex items-center leading-none ml-2 px-2 py-1 rounded-full text-black text-sm border-3"><i class="h-2 inline-block mr-1 rounded-full w-2 shadow-yellow-tag"></i>
    Unfilled
  </span>
</div>
<div class="flex mt-2">
  <button class="focus:bg-gray-300 focus:outline-none hover:text-gray-800 inline-flex leading-snug px-2 py-2 rounded text-gray-600">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="print" class="fill-current h-5 text-gray-600">
      <path d="M21.5 8h-19c-1 0-1.8.9-1.8 1.9v6.4c0 1.1.8 1.9 1.8 1.9h2.8v2.7c0 1 .8 1.8 1.8 1.8h9.8c1.1 0 1.9-.8 1.9-1.8v-2.7h2.7c1 0 1.9-.8 1.9-1.9V9.9c-.1-1-.9-1.9-1.9-1.9zM3.8 12.8c-.8 0-1.4-.6-1.4-1.4S3 10 3.8 10s1.4.6 1.4 1.4-.6 1.4-1.4 1.4zm12.8 7.1c0 .4-.4.7-.7.7H8c-.3 0-.7-.3-.7-.7v-4.5c0-.4.4-.7.7-.7h7.9c.3 0 .7.3.7.7v4.5zm2.1-14.8c0 .4-.3.7-.7.7H5.9c-.4 0-.7-.3-.7-.7V2c0-.4.3-.7.7-.7H18c.4 0 .7.3.7.7v3.1z"></path>
    </svg>
    <span class="pl-2 text-sm">Print Order</span>
  </button>
  <button class="focus:bg-gray-300 focus:outline-none hover:text-gray-800 inline-flex leading-snug ml-4 px-2 py-2 rounded text-gray-600">
    <span class="pr-1 text-sm">More actions</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-5 text-gray-600">
      <path d="M6.28 9.28l3.366 3.366c.196.196.512.196.708 0L13.72 9.28c.293-.293.293-.767 0-1.06-.14-.14-.332-.22-.53-.22H6.81c-.414 0-.75.336-.75.75 0 .2.08.39.22.53z"></path>
    </svg>
  </button>
</div>
<section class="flex mt-6">
  <div class="flex-1 mb-6 mr-4">
    <div class="bg-white border mb-6 rounded shadow">
      <header class="flex items-center pb-3 pl-6 pr-3 pt-5">
        <span class="font-semibold inline-flex items-center text-gray-700">
          <i class="border-2 border-dashed border-yellow-700 h-5 inline-block mr-3 rounded-full w-5 shadow-yellow-large"></i>
          <span>
            Unfulfilled
          </span></span>
        <button class="focus:bg-gray-300 focus:outline-none hover:text-gray-800 inline-flex leading-snug ml-auto px-2 py-2 rounded text-gray-600">
          <span>375 Vanderbilt Avenue</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-5 text-gray-600">
            <path d="M6.28 9.28l3.366 3.366c.196.196.512.196.708 0L13.72 9.28c.293-.293.293-.767 0-1.06-.14-.14-.332-.22-.53-.22H6.81c-.414 0-.75.336-.75.75 0 .2.08.39.22.53z"></path>
          </svg>
        </button>
      </header>
      <div class="border-b flex mx-5 py-4">
        <figure class="relative rounded w-10">
          <span class="-mr-4 -mt-3 absolute bg-gray-600 border-4 border-white px-2 right-0 rounded-full text-white text-xs">1</span>
          <img src="https://about.canva.com/wp-content/uploads/sites/3/2015/01/music_poster.png" alt="">
        </figure>
        <div class="flex flex-col justify-center pl-6">
          <p class="text-blue-600 text-sm">Daft Punk - Random Access Memories</p>
          <span class="block mt-px text-gray-600 text-sm">SKU: 90991822</span>
        </div>
        <div class="flex flex-1 items-center justify-center text-gray-700 text-sm">
          $70.00 x 1
        </div>
        <div class="flex items-center justify-center text-gray-700 text-sm">
          $70.00
        </div>
      </div>
      <div class="flex mx-5 py-4">
        <figure class="relative rounded w-10">
          <span class="-mr-4 -mt-3 absolute bg-gray-600 border-4 border-white px-2 right-0 rounded-full text-white text-xs">1</span>
          <img src="https://about.canva.com/wp-content/uploads/sites/3/2015/01/volleyball_poster.png" alt="">
        </figure>
        <div class="flex flex-1 flex-col justify-center pl-6">
          <p class="text-blue-600 text-sm">Darkside - Psychic</p>
          <span class="block mt-px text-gray-600 text-sm">SKU: 909918242</span>
        </div>
        <div class="flex flex-1 items-center justify-center text-gray-700 text-sm">
          $50.00 x 1
        </div>
        <div class="flex items-center justify-center text-gray-700 text-sm">
          $50.00
        </div>
      </div>
      <footer class="border-t flex justify-end px-5 py-4">
        <button class="border border-gray-400 px-3 py-2 rounded text-gray-700 text-sm bg-gradient-grey">
          Mark as fulfilled</button><button class="border border-indigo-400 ml-3 px-3 py-2 rounded text-sm text-white bg-gradient-indigo">
          Create shopping label
        </button>
      </footer>
    </div>
    <div class="bg-white border rounded shadow">
      <span class="font-semibold inline-flex items-center ml-6 mt-5 text-gray-700">
        <i class="border-2 border-green-500 h-5 inline-block inline-flex items-center justify-center mr-3 rounded-full w-5 shadow-green-large">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current text-green-700 w-3">
            <path d="M8.8 19.6L1.2 12c-.3-.3-.3-.8 0-1.1l1-1c.3-.3.8-.3 1 0L9 15.7c.1.2.5.2.6 0L20.9 4.4c.2-.3.7-.3 1 0l1 1c.3.3.3.7 0 1L9.8 19.6c-.2.3-.7.3-1 0z"></path>
          </svg>
        </i>
        <span>
          Paid
        </span></span>
      <div class="flex mt-4 mx-5 py-2 text-gray-700 text-sm">
        <span>Subtotal</span>
        <span class="ml-auto">$120.00</span>
      </div>
      <div class="flex mx-5 pb-2 text-gray-700 text-sm">
        <span class="w-1/6">Shipping</span>
        <span class="">First Class Package International (0.0kg)</span>
        <span class="ml-auto">$9.50</span>
      </div>
      <div class="flex mx-5 pb-2 text-gray-700 text-sm">
        <span class="w-1/6">Tax</span>
        <span>HST 13%</span>
        <span class="ml-auto">$15.60</span>
      </div>
      <div class="border-b flex font-bold mx-5 pb-2 text-gray-700 text-sm">
        <span>Total</span>
        <span class="ml-auto">$145.10</span>
      </div>
      <div class="flex mx-5 pb-6 pt-3 text-gray-700 text-sm">
        <span>Paid by customer</span>
        <span class="ml-auto">$145.10</span>
      </div>
      <footer class="border-t flex justify-end px-5 py-4">
        <button class="border border-gray-400 px-3 py-2 rounded text-gray-700 text-sm bg-gradient-grey">
          Refund
        </button>
      </footer>
    </div>
  </div>
  <div class="w-1/3">
    <div class="bg-white border p-5 rounded shadow">
      <header class="flex justify-center">
        <span class="font-medium text-base">Notes</span>
        <button class="ml-auto text-blue-500 text-sm">Edit</button>
      </header>
      <p class="mt-4 text-gray-600 text-sm">
        No notes from customer
      </p>
    </div>
    <div class="bg-white border mt-4 rounded shadow">
      <header class="flex p-5">
        <span class="font-medium text-base">Customer</span>
        <span class="bg-blue-800 flex h-8 items-center justify-center ml-auto relative rounded-full shadow-lg w-8">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="user" class="bottom-0 fill-current mt-3 text-white w-6">
            <path d="M23.1 19.8v1.1c0 1.2-1 2.2-2.2 2.2H3.1c-1.2 0-2.2-1-2.2-2.2v-1.1c0-2.6 3.2-4.3 6.1-5.6l.3-.1c.2-.1.5-.1.7 0 1.2.8 2.5 1.2 4 1.2s2.8-.4 3.9-1.2c.3-.1.5-.1.7 0l.3.1c3 1.3 6.2 2.9 6.2 5.6zM12 .9c3 0 5.5 2.7 5.5 6.1S15 13.1 12 13.1 6.5 10.4 6.5 7 9 .9 12 .9z"></path>
          </svg>
        </span>
      </header>
      <p class="mt-4 px-5 text-blue-500 text-sm">
        Ima Pearson
      </p>
      <span class="block mb-5 px-5 text-gray-600 text-sm">1 order</span>
      <div class="border-t pt-4 px-5">
        <header class="flex items-center">
          <span class="font-medium text-xs uppercase">Contact Information</span>
          <button class="ml-auto text-blue-500">Edit</button>
        </header>
        <span class="block mb-5 mt-1 text-blue-500 text-sm">annamalai.xyz@gmail.com</span>
      </div>
      <div class="border-t pt-4 px-5">
        <header class="flex items-center">
          <span class="font-medium text-xs uppercase">Shipping Address</span>
          <button class="ml-auto text-blue-500 text-sm">Edit</button>
        </header>
        <p class="py-4 text-gray-600 text-sm">
          Ima Pearson<br>
          150 Elgin Street <br>
          Floor 8 <br>
          Ottawa OW K2P LP4<br>
          Canada
        </p>
        <a href="" class="block mb-5 text-blue-500 text-sm">View map</a>
      </div>
      <div class="border-t pb-4 pt-4 px-5">
        <header class="flex">
          <span class="font-medium text-xs uppercase">Billing Address</span>
        </header>
        <p class="mt-4 text-gray-600 text-sm">
          Same as shipping address
        </p>
      </div>
    </div>
  </div>
</section>
