<header class="flex">
  <div class="inline-flex text-gray-600">
    <h1 class="font-semibold text-2xl">Reviews</h1>
  </div>
</header>
<section class="flex mt-2">
  <div class="flex-1 mb-6 mr-4">
    <div class="my-2 flex sm:flex-row flex-col">
      <%= render partial: 'search', locals: {q: @q} %>
      <div class="w-1/2">
      </div>
    </div>
    <div class="bg-white border mb-6 rounded shadow">
      <%= render partial: 'list', locals: {reviews: @reviews} %>
      <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
        <div class="inline-flex mt-2 xs:mt-0">
          <%= pagy_nav(@pagy).html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>
