<div class="input-group">
  <label class="label text-gray-600" for="patients_in_panel">Comments</label>
  <%= form.text_area :comment, :class => "input bg-white tinymce", :rows=> "6", :cols=> "50" %>
</div>
