<header class="flex">
  <div class="w-1/2">
    <div class="inline-flex text-gray-600">
      <h1 class="font-semibold text-2xl">My Profile</h1>
    </div>
  </div>
</header>
<section class="flex mt-6">
  <div class="w-full" data-controller="message">
    <%if !flash[:notice].blank? %>
      <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500 mt-4">
        <span class="inline-block align-middle mr-8">
          <%= flash[:notice]%>
        </span>
      </div>
    <% end %>
    <div class="w-full z-10" data-message-target="errors"></div>
    <%= render partial: 'form', locals: { user: @patient } %>
  </div>
</section>
<section class="flex w-1/2 mt-6">
  <div class="float-left pt-6 mb-4 pb-4" data-controller="account" data-account-url-value="<%=account_delete_patient_profiles_url%>">
    <button name="button" type="button" class="btn btn-md btn-default bg-red-400 hover:bg-red-600 text-white btn-outline text-sm font-bold float-right" data-disable-with="<i class='fab fa fa-spinner fa-spin pr-2'></i> Saving in..." data-action="click->account#delete">
    <span><i class="fab fa fa-floppy-o pr-2"></i>Delete My Profile</span>
    </button>
  </div>
</section>
