<div class="w-full flex flex-wrap px-4 py-3">
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Adak</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Akhiok</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Akiachak</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Akiak</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Akutan</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Alakanuk</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Alatna</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Alcan Border</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Aleknagik</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Aleneva</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Allakaket</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Ambler</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Anaktuvuk Pass</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Anchorage</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Anchor Point</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Anderson</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Angoon</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Aniak</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Anvik</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Arctic Village</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Atka</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Atmautluak</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Atqasuk</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Attu Station</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Badger</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Bear Creek</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Beaver</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Beluga</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Bethel</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Bettles</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Big Delta</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Big Lake</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Birch Creek</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Brevig Mission</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Buckland</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Buffalo Soapstone</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Butte</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Cantwell</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Central</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chalkyitsik</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chase</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chefornak</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chena Ridge</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chenega</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chevak</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chickaloon</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chicken</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chignik</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chignik Lagoon</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chignik Lake</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chiniak</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chisana</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chistochina</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chitina</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Chuathbaluk</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Circle</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Clam Gulch</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Clark's Point</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Coffman Cove</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Cohoe</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Cold Bay</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Coldfoot</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">College</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Cooper Landing</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Copper Center</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Cordova</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Covenant Life</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Craig</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Crooked Creek</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Crown Point</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Deering</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Delta Junction</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Deltana</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Denali Park</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Diamond Ridge</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Dillingham</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Diomede</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Dot Lake</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Dot Lake Village</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Dry Creek</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Eagle</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Eagle Village</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Edna Bay</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Eek</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Egegik</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Eielson AFB</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Ekwok</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Elfin Cove</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Elim</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Emmonak</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Ester</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Eureka Roadhouse</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Evansville</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Excursion Inlet</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Fairbanks</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">False Pass</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Farmers Loop</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Farm Loop</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Ferry</a>
  </div>
  <div class="w-1/2 lg:w-1/3 pt-1">
    <a href="/jobs/search" class="hover:underline hover:text-blue-400 text-sm">Fishhook</a>
  </div>
</div>
