<div id="consent-popup" class="bg-white w-full shadow-lg z-50 overflow-y-auto border border-doctor-yellow hidden" data-cookie-consent-target="consentPopup">
  <div class="lg:flex items-center">
    <div class="text-base">
      By clicking “Accept”, you agree to the storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our marketing efforts, pursuant to our <a href="/privacy-policy" class="underline">Privacy Policy</a>. Additionally, by utilizing this website, you are agreeing to the entirety of the <a href="/terms-of-service" class="underline">Terms of Service</a>, as relevant.
    </div>
    <div class="text-left lg:ml-10">
      <button class="border-doctor-yellow bg-doctor-yellow-500 px-3 py-1 rounded shadow text-gray-100 text-base hover:bg-doctor-yellow" data-action="click->cookie-consent#accept" >
        Accept
      </button>
    </div>
  </div>
</div>
