<header class="sm:flex sm:justify-between sm:items-center sm:px-16 sm:py-3 mx-16 mt-5" >
  <div class="flex items-center justify-between px-3 py-4 sm:p-0">
    <div>
      <%= image_pack_tag "logo.png", alt: "Find my Direct Doctor", class: "h-10"%>
    </div>
    <div class="sm:hidden" @click.away="open = false" >
      <button id="userButton" type="button" class="block hover:text-doctor-yellow focus:text-doctor-yellow focus:outline-none" @click="open = !open">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
  <div id="userMenu" class="px-4 pt-2 pb-4 sm:flex sm:p-0 sm:items-center sm:justify-center" x-show="open">
    <a href="#" class="block text-gray-800 font-semibold hover:text-doctor-yellow">
      Direct Doctor Directory
    </a>
    <a href="#" class="block text-gray-800 font-semibold hover:text-doctor-yellow sm:mt-0 sm:ml-4">Free Articles</a>
    <a href="#" class="block text-gray-800 font-semibold hover:text-doctor-yellow sm:mt-0 sm:ml-4">Quiz</a>
    <a href="#" class="block text-gray-800 font-semibold hover:text-doctor-yellow sm:mt-0 sm:ml-4">Top 10</a>
    <a href="#" class="block text-gray-800 font-semibold hover:text-doctor-yellow sm:mt-0 sm:ml-4">For Providers</a>
    <a href="#" class="block text-gray-800 border rounded-lg px-6 py-1 border-doctor-yellow ml-4"> Login </a>
  </div>
</header>
