<nav aria-label="Breadcrumb" class="text-sm mb-3">
  <ul class="list-none p-0 inline-flex">
    <li class="flex items-left">
      <a href="/" class="text-doctor-yellow pr-2">Home</a>
      <span class="text-gray-500 pr-2">&gt;</span>
    </li>
    <li class="flex items-left">
      <a href="/<%=specialty.practice_style%>" class="text-doctor-yellow pr-2"><%=specialty&.practice_style&.upcase%></a>
      <span class="text-gray-500 pr-2">&gt;</span>
    </li>
    <li class="text-gray-500" aria-current="page">
      <%=specialty.name%>
    </li>
  </ul>
</nav>
