<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p dir="ltr">Hi there,</p>
    Thank you for taking the quiz. Based on your responses to the quiz, our algorithm has identified that you would benefit from a Direct Care Doctor (Concierge Medicine doctor or Direct Primary Care doctor), as opposed to a traditional fee-for-service doctor that works with regular insurance companies.
    <p dir="ltr">Electing to be treated by a <a href="https://www.findmydirectdoctor.com/blogs/concierge-medicine">Concierge Doctor</a> / <a href="https://www.findmydirectdoctor.com/blogs/direct-primary-care">Direct Primary Care</a> (DPC) doctor is a rewarding and life changing experience. Learn more about how you can benefit from a direct care provider - <a href="https://www.findmydirectdoctor.com/blogs/direct-patient-care">&ldquo;Why is direct patient care a better alternative for patients.&rdquo;</a><br />
      <br />
      <strong>Quick Summary:</strong> You will have a direct relationship with your doctor. Patient centered health care - No insurance companies and no corporate healthcare systems that interfere or influence your doctors decision making. Your direct care doctor sees less patients, hence has more time for you - Exclusive and privileged. No waiting time, no receptionist call holds. You have direct priority access to your doctors cell phone, same day visits, and concierge doctors are usually available for home visits. More attention to your health directly translates into better health outcomes for you, along with the peace of mind that your doctor truly is in your corner and cares for you. No need to deal with the ineffective and sometimes annoying insurance companies. Although you pay a monthly membership fee to your concierge/DPC doctor, you will make this up by saving many $ from heavy discounts up to &gt;90% (wholesale pricing) on lab work, medications, reduced insurance premiums, etc.<br />
      <br />
      <a href="http://www.findmydirectdoctor.com/">Click here</a> to find a direct doctor near your location. Take advantage of our filters to browse all the doctor profiles.<br />
      <br />
      <u><strong>ABOUT US:</strong></u><br />
      <strong>Who Are We:</strong></p>
    <ul dir="ltr">
      <li>We are a physician-owned platform designed to exponentially grow Direct Primary Care (DPC) and Concierge Medicine awareness among patients.</li>
    </ul>
    <p dir="ltr"><strong>What We Do:</strong></p>
    <ul dir="ltr">
      <li>We are the largest and exclusive directory listing for DPC and Concierge Medicine doctors. We connect patients with best suited boutique direct care doctors.</li>
    </ul>
    <p dir="ltr"><strong>For Doctors:</strong></p>
    <ul dir="ltr">
      <li>If you run a DPC or Concierge Medicine practice, you can create your exclusive listing on our website by <a href="https://www.findmydirectdoctor.com/users/sign_in">going here</a>. &gt;15,000 providers have already created their listings, please don&rsquo;t wait to join them.&nbsp;</li>
      <li>Benefits of listing - More digital presence, free SEO boost to increase visibility on online search engines, more patients can find you, and more business opportunities. Learn how we can help you stay ahead of your competition - read more.&nbsp;</li>
      <li>Jobs board - If you are a direct care provider looking for a DPC/Concierge job, or a DPC/Concierge doctor looking to add a provider to you practice, you can use this state of art job listing platform to assist you.</li>
    </ul>
    <p dir="ltr">Feel free to reach out to us if you have any further questions!&nbsp;<br />
      We are glad you are here and we appreciate your time.<strong> </strong><br />
      Thank you.<br />
      <br />
      Harsha Moole, MD<br />
      Founder&nbsp;&amp; CEO<br />
      FindMyDirectDoctor, LLC.<br />
      <a href="https://www.findmydirectdoctor.com/" target="_blank"><img data-file-id="5368417" height="31" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/3dc004a6-be33-4676-a644-b32f97cf41c2.png" width="70" /></a>&nbsp;&nbsp;<a href="https://www.findmydirectdoctor.com/blogs" target="_blank"><img data-file-id="5368413" height="31" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/a5aaff68-7f01-4531-a6ec-07949d3cd6f7.png" width="70" /></a><br />
      &nbsp;<a href="https://www.facebook.com/Find-My-Direct-Doctor-103928951413548" target="_blank"><img data-file-id="5368389" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/22ce381e-ec8b-44e1-87a8-df7ab1d0c427.png" width="30" /></a>&nbsp;&nbsp;<a href="https://www.linkedin.com/company/68692599/" target="_blank"><img data-file-id="5368385" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/1c1ec5dd-3e58-427b-b75f-12f046dfca2b.png" width="30" /></a>&nbsp;&nbsp;<a href="https://twitter.com/FindMyDirectDoc" target="_blank"><img data-file-id="5368393" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/fecf5494-fa7d-401b-a414-9757ec02a6b2.png" width="30" /></a>&nbsp;&nbsp;<a href="https://www.instagram.com/findmydirectdoctor/" target="_blank"><img data-file-id="5368381" height="30" src="https://mcusercontent.com/b24fb353281d19d5eed8b4acc/images/5bb6ef6b-da8c-448c-b6e9-a458f7a89393.png" width="30" /></a></p>
  </body>
</html>
