<section class="pt-120">
  <div class="container">
    <div class="inline-flex">
      <div class="text-center w-50--md">
      </div>
      <div class="text-center" style="align-self:center;">
        <h2 class=""><b>500</b></h2>
        <h3>OOPS!!</h3>
        <h3>Something Went Wrong!</h3>
        <p><small>We sorry, but something went wrong. We are working on it, please come back later.</small></p>
        <a href="/" class="btn">Return To FindMyDirectDoctor</a>
      </div>
    </div>
    <br>
    <div class="text-center mt-40">
      <h3>FindMyDirectDoctor</h3>
      <p></p>
    </div>
  </div>
</section>
