<div class="pos-rel">
  <section class="py-20">
    <div class="container">
      <div class="flex page-padding" style="height: calc(100vh - 66px);">
        <div class="flex-item self-center w-30--md">
        </div>
        <div class="flex-item text-center my-auto self-center">
          <h1 class="color-main font-weight-500 mb-0" style="font-size:60px;">Sorry!</h1>
          <h3 class="color-main font-weight-500 pb-20">Your Page Not Found </h3>
          <a href="/" class="btn f-18">Go to FindMyDirectDoctor</a>
        </div>
      </div>
    </div>
  </section>
</div>
