<div class="flex mb-3 ui-state-default border-0">
  <div class="w-full flex">
    <div class="w-1/3">
      <%= number_field_tag "doctor[achievements][][year]", value['year'], class: "input bg-white", placeholder:"Year", data: {target: "credential-components.componentYear"}%>
    </div>
    <div class="w-2/3 ml-2">
      <%= text_field_tag "doctor[achievements][][name]", value['name'], class: "input bg-white", placeholder:"Achievement details", data: {target: "credential-components.componentText"}%>
    </div>
  </div>
  <span class="flex-initial sort-hide text-gco pt-2 mx-2 text-red-400 hover:text-red-600 cursor-pointer" title="Delete" data-action="click->components#deleteComponent">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
      <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path>
      <path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"></path>
    </svg>
  </span>
</div>
