<div class="w-full flex mt-4">
  <div class="w-1/3">
    <div class="text-gray-600 text-md font-bold">Background Information</div>
    <p class="text-gray-600 text-sm"> About Background Information </p>
  </div>
  <div class="w-2/3" data-controller="components">
    <div class="input-group">
      <label class="label text-gray-600" for="title">Active Medical License</label>
      <%= form.select(:active_licenses, states.collect {|state| [state.name, state.name]}, {:prompt => "Select..."}, {class: "select", :multiple => true}) %>
    </div>
    <div class="input-group">
      <label class="label text-gray-600" for="title">Disciplinary Action Taken By Sates Medical Board</label>
      <div class="inline-block relative w-full">
        <%= form.select(:disciplinary_action_taken,['Yes', 'No', 'No Actions Found', 'Unable to verify'], {:prompt => "Select..."}, {class: "select bg-white",  data: { action: "change->doctor#disciplinaryActionChange", target: 'doctor.disciplinaryAction' }}) %>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>
    <% display_class = form.object.disciplinary_action_taken == 'Yes' ? '' : 'hidden'%>
    <div class="input-group <%=display_class%>" data-target="doctor.disciplinaryActionInput">
      <label class="label text-gray-600" for="patients_in_panel">Disciplinary Action Details</label>
      <%= form.text_area :disciplinary_action_details, :class => "input bg-white tinymce" %>
    </div>
  </div>
</div>
