<div class="w-full">
  <div class="input-group">
    <%= form.label :background_info, :class => "label text-gray-500" %>
    <%= form.text_field :background_info, :class => "input bg-white", :autocomplete => "off" %>
  </div>
</div>
