<section class=" bg-no-repeat bg-cover" style="background-image: url(/system/light_grey_background.png);">
  <div class="lg:grid lg:w-full grid-cols-12" style="padding-bottom: 18rem;">
    <div class="lg:mt-32 col-span-2 relative"></div>
    <div class="col-span-8 flex flex-wrap -mt-16 lg:-mt-1">
      <div class="w-full mt-32">
        <div class="w-full pt-2">
          <h3 class="text-2xl font-hurmebold text-doctor-blue">Sponsored Listing</h3>
        </div>
        <div id="options-start-at" class="slider glide relative mt-6">
          <div class="slider__track glide__track" data-glide-el="track">
            <ul class="slider__slides glide__slides">
              <% (1..6).each do |index| %>
                <li class="slider__frame glide__slide rounded-lg mb-8">
                  <div class="border border-gray-300 shadow-mdrounded-lg rounded-lg shadow-md">
                    <div class="w-full bg-doctor-yellow-100 h-3 rounded-tl-md rounded-tr-md"></div>
                    <div class="w-full p-3">
                      <div class="w-full flex">
                        <div class="w-5/12  bg-doctor-gray-100 rounded-lg overflow-hidden">
                          <%= image_pack_tag "doctor.png", class: "w-32 h-32 object-cover" %>
                        </div>
                        <div class="w-8/12 pl-3 mt-2">
                          <div class=" text-sm font-glacialbold">Graydon Ursel</div>
                          <div class="text-sm">FMDD Score: 10/10</div>
                          <div class="text-xs mt-3">13 years of experience</div>
                        </div>
                      </div>
                      <div class="w-full mt-4">
                        <%= render(StarRatingComponent.new(rating: 5, class: 'doc-rating', width: '6', height: '6')) %>
                        <div><a href="#" class=" text-blue-400 text-sm">300 reviews</a></div>
                      </div>
                      <div class="w-full flex text-sm">
                        <div class="w-1/2">IM/AMDP/FM</div>
                        <div class="w-1/2">DPC/Con Doc</div>
                      </div>
                      <div class="w-full">
                        <div class="w-full flex mt-2">
                          <div> <%= render partial: "doctors/medal", locals:{ width: '15', height: '15'}%> </div>
                          <div class="pl-2 text-xs">Telehealth</div>
                        </div>
                        <div class="w-full flex mt-1">
                          <div> <%= render partial: "doctors/medal", locals:{ width: '15', height: '15'}%> </div>
                          <div class="pl-2 text-xs">Holistic/Lifestyle Medicine</div>
                        </div>
                      </div>
                      <div class="w-full flex justify-end pr-4 mt-2">
                        <a href="#" class="text-xs text-blue-400">View more...</a>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div data-glide-el="controls">
            <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev focus:outline-none" data-glide-dir="<">
              <svg version="1.1" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" fill="currentColor" class=" text-gray-500">
                <g>
                  <g>
                    <g>
                      <path d="M22,26.5c-0.1,0-0.3,0-0.4-0.1l-4.6-4.6c-0.5-0.5-0.7-1.1-0.7-1.8s0.3-1.3,0.7-1.8l4.6-4.6c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7l-4.6,4.6c-0.6,0.6-0.6,1.5,0,2.1l4.6,4.6c0.2,0.2,0.2,0.5,0,0.7C22.3,26.5,22.1,26.5,22,26.5z"/>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
            <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next focus:outline-none" data-glide-dir=">">
              <svg version="1.1" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" fill="currentColor" class=" text-gray-500" >
                <g>
                  <g>
                    <g>
                      <path d="M18,26.5c-0.1,0-0.3,0-0.4-0.1c-0.2-0.2-0.2-0.5,0-0.7l4.6-4.6c0.6-0.6,0.6-1.5,0-2.1l-4.6-4.6c-0.2-0.2-0.2-0.5,0-0.7s0.5-0.2,0.7,0l4.6,4.6c0.5,0.5,0.7,1.1,0.7,1.8s-0.3,1.3-0.7,1.8l-4.6,4.6C18.3,26.5,18.1,26.5,18,26.5z"/>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-2 grid"></div>
  </div>
</section>
