<div class="w-full flex justify-center items-center">
  <div class="text-2xl font-glacialbold">Thank you for submitting your review. We will update you and publish the content after our moderation process (1-3days).
  </div>
</div>
