<div class="lg:grid lg:w-full lg:mt-24 lg:grid-cols-12 flex mt-32">
  <div class="lg:mt-32 lg:col-span-1">
  </div>
  <div class="lg:col-span-10 flex mt-4 relative -ml-4">
    <div class="w-full">
      <!-- component -->
      <nav aria-label="Breadcrumb" class="text-sm">
        <ul class="list-none p-0 inline-flex">
          <li class="flex items-left">
            <a href="#" class="text-doctor-yellow pr-2">Home</a>
            <span class="text-gray-500 pr-2">></span>
          </li>
          <li class="flex items-left">
            <a href="#" class="text-doctor-yellow pr-2">Find a doctor</a>
            <span class="text-gray-500 pr-2">></span>
          </li>
          <li class="text-gray-500" aria-current="page">
            State
          </li>
        </ul>
      </nav>
      <div class="lg:w-full flex mt-4">
        <div class="w-3/12">
        </div>
        <div class="w-9/12">
        </div>
      </div>
    </div>
  </div>
  <div class="lg:mt-32 lg:col-span-1">
  </div>
</div>
