     
<div class="w-full h-32 shadow rounded-lg border border-gray-300 mt-4 section-position" id="background">
  <div class="text-lg font-glacialbold tracking-wide pl-4 pt-3">
    Professional Background Information
  </div>
  <div class="py-3 pl-4 w-full ">
  </div>
</div>
