<div class="w-full shadow rounded-lg border border-gray-300 mt-4 section-position" id="background">
  <div class="text-lg font-glacialbold tracking-wide pl-4 pt-3">
    Professional Background Information
  </div>
  <div class="py-3 pl-4 w-full flex">
    <div class="w-2/12 hidden md:block"></div>
    <div class="md:w-8/12 w-full">
      <div class="w-full flex">
        <div class="w-10/12 md:w-8/12 flex">
          <label class="inline-flex items-starts pt-2">
            <input type="radio" class="form-radio h-3 w-3 text-gray-900" checked disabled>
          </label>
          <div class="flex items-starts ml-4">
            Active Medical License: <%=doctor&.active_licenses&.reject(&:empty?)&.join(", ")%>
          </div>
        </div>
        <div class="ml-4 w-2/12 md:w-4/12">
          <% if doctor&.active_licenses.include?('Not Available') || doctor&.active_licenses.include?('Unable to verify') %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          <% end %>
        </div>
      </div>
      <div class="w-full flex mt-4">
        <div class="w-10/12 md:w-8/12 flex">
          <label class="inline-flex items-start pt-2">
            <input type="radio" class="form-radio h-3 w-3 text-gray-900" checked disabled>
          </label>
          <div class="ml-4 flex items-start">
            Disciplinary Action Taken By States Medical Board: <%=doctor.disciplinary_action_taken%>
          </div>
        </div>
        <div class="ml-4 w-2/12 md:w-4/12">
          <% if doctor&.disciplinary_action_taken == 'Unable to verify' || 'Not Available' %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
    <div class="w-2/12 hidden md:block"></div>
  </div>
</div>
