<div class="w-full shadow rounded-lg border border-gray-300 mt-4 pb-4">
  <div class="text-lg font-glacialbold tracking-wide pl-4 pt-3">
    FMDD Score
  </div>
  <div class="py-3 pl-2 w-full flex ">
    <div class="absolute left-0 mt-6 -ml-32">
      <%=image_pack_tag "light_yellow_slant.svg", class: "w-16" %>
    </div>
    <div class="w-3/12 flex justify-center items-center">
      <div class="text-6xl text-center"><%=doctor&.fmdd_score%>/10</div>
    </div>
    <div class="w-8/12 ml-4">
      <div>
        What does that mean?
      </div>
      <div class="text-sm">
        Description about FMDD Mode comes here. Description about FMDD Mode comes here. Description about FMDD Mode comes here. Description about FMDD Mode comes here. Description about FMDD Mode comes here.
      </div>
    </div>
  </div>
</div>
