<div class="hidden md:block">
  <div class="absolute right-0 -mr-32 -mt-48 z-50">
    <%=image_pack_tag "yellow_circle_outline_opacity_right.png", class: "w-24" %>
  </div>
  <div class="absolute right-0 -mr-32 -mt-8 z-50">
    <%=image_pack_tag "light_grey_2_lines_vertical.svg", class: "w-16" %>
  </div>
  <div class="absolute right-0 -mr-32 mt-24 z-50">
    <%=image_pack_tag "light_grey_round_edge_sides.svg", class: "w-16 h-64" %>
  </div>
</div>
