<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p dir="ltr">Hi there,</p>
    <p dir="ltr"><%=@patient.full_name%> profile is deleted by <%=@deleted_by%> <br />
    </body>
  </html>
