@import "fonts.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";

@import "components/mega_menu";
@import "components/custom";

@import "tailwindcss/utilities";

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "custom/slider";

.a2a_s_facebook {
  background-color: white !important;
}

.a2a_s_facebook svg path {
  fill: #191932 !important;
}

.a2a_s_twitter {
  background-color: white !important;
}

.a2a_s_twitter svg path {
  fill: #191932 !important;
}

.a2a_s_linkedin {
  background-color: white !important;
}

.a2a_s_linkedin svg path {
  fill: #191932 !important;
}

.a2a_s_link {
  background-color: white !important;
}

.a2a_s_link svg path {
  fill: #191932 !important;
}

.ap-input {
  border: none !important;
  height: 25px !important;
  padding-left: 0 !important;
}

.ap-footer {
  display: none !important;
}

.map-container {
  position: -webkit-sticky;
  position: sticky;
  top: 99px;
  height: calc(100vh - 99px);
}

/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);

  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 7px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  white-space: nowrap;
}

.popup-bubble-anchor {
  position: absolute;
  // width: 100%;
  // bottom: 8px;
  // left: 0;
  &:hover {
    .popup-bubble {
      background-color: #e7ab00;
      color: white;
    }
    &::after {
      border-top-color: #e7ab00;
    }
  }
  &.highlight {
    .popup-bubble {
      background-color: #e7ab00;
      color: white;
    }
    &::after {
      border-top-color: #e7ab00;
    }
  }
}

.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid white;
}

.popup-container {
  cursor: pointer;
  height: 0;
  position: absolute;
  width: 200px;
  display: flex;
  justify-content: center;
}

.pin-container {
  cursor: pointer;
  height: 0;
  position: absolute;
  width: 200px;
  display: flex;
  justify-content: center;
  .pin-bubble {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    background-color: white;
    padding: 4px;
    border-radius: 50%;
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 60px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    font-weight: 800;
    white-space: nowrap;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pin-bubble-anchor {
    position: absolute;
    &:hover {
      .pin-bubble {
        background-color: #e7ab00;
        color: white;
      }

      &::after {
        border-top-color: #e7ab00;
      }
    }

    &.highlight {
      .pin-bubble {
        background-color: #e7ab00;
        color: white;
      }

      &::after {
        border-top-color: #e7ab00;
      }
    }
  }

  .pin-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -3px);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid white;
  }
}

.gm-style {
  .gm-style-iw-c {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    overflow: unset;
  }
  .gm-style-iw-d {
    overflow: initial;
  }
  .gm-style-iw-t::after {
    // background: linear-gradient(45deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 5px;

    /* transform: translate(-50%,-50%) rotate(-45deg); */
    width: 8px;
    border-radius: 50%;
    background: #e7ab00;
  }
  .gm-style-iw.gm-style-iw-c {
    button.gm-ui-hover-effect {
      z-index: 3;
      background-color: rgb(198, 40, 40) !important;
      opacity: 0.6 !important;
      border-radius: 50%;
      color: white;
      &:hover {
        opacity: 0.95 !important;
      }
    }
  }
}

.popup-info-window {
  position: absolute;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 200px;
  bottom: 30px;
  background-color: white;
  border-radius: 7px;
  display: none;
  transition: 300ms all ease-in;
  border: 2px solid #e7ab00;
  z-index: 2;
  &.show {
    display: block;
  }
  &.marker-edition {
    position: relative;
    display: block;
    bottom: 0;
    margin: auto 25px;
  }
  .info-window-container {
    img {
      max-width: 100%;
      min-height: 100px;
    }
    .info-window-heading {
      font-size: 18px;
      font-weight: bold;
      text-decoration: dotted;
      margin-bottom: 5px;
    }
    .info-window-price-range {
      font-size: 14px;
      color: darkgreen;
      font-weight: bold;
    }
    .info-window-rating {
      font-size: 18px;
      font-weight: bold;
      color: #e7ab00;
      &::after {
        content: "/5";
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}

.info-window-carousel {
  display: flex;
  flex-direction: column;
  width: 250px;
  .info-window-carousel-content {
    display: flex;
    width: 250px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transform: translateZ(0);
    .info-window-carousel-item {
      padding: 0 25px 0 25px;
    }
    .popup-info-window.marker-edition {
      min-width: 200px;
      box-shadow: none;
      margin: 0;
    }
  }
  .info-window-carousel-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    .info-window-carousel-button {
      background: #e7ab00;
      padding: 5px 10px;
      border-radius: 3px;
      color: white;
      font-weight: bold;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.pagy-nav,
.pagy-nav-js,
.pagy-combo-nav-js {
  margin-top: 10px;
  @apply inline-flex;
  @apply shadow-md;
}

.pagy-nav.pagination,
.pagy-nav-js.pagination,
.pagy-combo-nav-js.pagination {
  @apply border;
  @apply border-gray-600;
  @apply rounded-sm;
}

.pagy-nav .page,
.pagy-nav-js .page,
.pagy-combo-nav-js .page,
.pagy-combo-nav-js .pagy-combo-input {
  @apply text-gray-700;
  @apply border-r;
  @apply border-gray-600;
  @apply px-3;
  @apply py-2;
  @apply text-sm;
  @apply leading-tight;
  @apply font-medium;
}

.pagy-nav .page:hover,
.pagy-nav-js .page:hover {
  @apply text-gray-900;
}

.pagy-nav .disabled,
.pagy-nav-js .disabled,
.pagy-combo-nav-js .disabled {
  @apply cursor-not-allowed;
}

.pagy-nav .active,
.pagy-nav-js .active {
  @apply text-blue-500;
}

.pagy-nav .prev,
.pagy-nav-js .prev,
.pagy-combo-nav-js .prev {
  @apply text-gray-900;
}

.pagy-nav .next,
.pagy-nav-js .next,
.pagy-combo-nav-js .next {
  @apply text-gray-900;
  @apply border-r;
  @apply border-transparent;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  .loading-positioner {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    .loading-logo {
      height: 40px;
      width: 45px;
      border: 10px solid #000;
      display: flex;
      align-items: center;
      font-style: italic;
      font-weight: 900;
      justify-content: center;
      padding-right: 6px;
      padding-bottom: 10px;
      font-size: 42px;
      color: #e7ab00;
      text-shadow: 1px 1px 3px #444;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      transform: rotateY(-38deg) rotateX(20deg);
      border-top-right-radius: 1px;
      border-bottom-left-radius: 1px;
    }
  }
}
