@import 'fonts.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'components/buttons';
@import 'components/forms';
@import 'components/alerts';
@import 'components/colors';
@import 'components/pagy';
@import 'components/text_animation';

@import 'tailwindcss/utilities';

@import 'choices.js/public/assets/styles/choices';

.bacground-image-gray {
  background-image: url('../images/light_grey_background.png');
  display: flex;
  align-items: center;
  justify-content: center;
}
