@import "fonts.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";

@import "components/buttons";
@import "components/forms";
@import "components/alerts";
@import "components/colors";
@import "components/pagy";
@import "components/custom";

@import "tailwindcss/utilities";

@import "choices.js/public/assets/styles/choices";
@import "uppy/dist/uppy.min.css";
@import "@uppy/progress-bar/dist/style.css";
@import "@yaireo/tagify/dist/tagify.css";
@import "cropperjs/dist/cropper.css";

.upload-preview img {
  display: block;
  max-width: 100%;
}

.upload-preview {
  margin-bottom: 10px;
  display: inline-block;
  height: 300px;
}

img[src=""] {
  visibility: hidden;
}
.tags-look .tagify__dropdown__item {
  display: inline-block;
  border-radius: 3px;
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  background: #f3f3f3;
  margin: 0.2em;
  font-size: 0.85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
  color: black;
}

.tags-look .tagify__dropdown__item:hover {
  background: lightyellow;
  border-color: gold;
}
.choices__list--dropdown {
  z-index: 5 !important;
}

.ap-footer {
  display: none !important;
}
.btn-save {
  position: fixed;
  top: 12px;
  z-index: 99;
  cursor: pointer;
  right: 20rem;
}
