/* color */
.text-dd-blue {
  color: #191932;
}
.bg-dd-blue {
  background-color: #191932;
}

.text-dd-yello {
  color: #e7ab00;
}

.btn-dd-blue {
  @apply bg-dd-blue text-white;
}

.draft-badge {
  @apply mr-2 text-blue-600 p-2;
}

.published-badge {
  @apply mr-2 text-green-600 p-2;
}

.review-badge {
  @apply mr-2 text-orange-600 p-2;
}

.archive-badge {
  @apply mr-2 text-red-600 p-2;
}
