.bacground-image-gray {
  background-image: url("../images/light_grey_background.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded-2lg {
  border-radius: 1.5rem;
}
.rounded-br-2lg {
  border-bottom-right-radius: 2.5rem;
}
.rounded-tl-2lg {
  border-top-left-radius: 2.5rem;
}
.rounded-3lg {
  border-radius: 2.5rem;
}
.blog-bg-gray {
  background-color: #dcdcdc;
}
.post h2 strong {
  @apply text-heading3 text-doctor-blue font-hurmebold;
}
.post h3 strong {
  @apply text-px18 text-doctor-blue font-hurmebold;
}
.post h3 {
  @apply text-heading3;
}
.post ul {
  @apply list-disc pl-6;
}
.post ul li {
  @apply py-2;
}
.post a {
  @apply text-hyperlink-blue;
}
.post p {
  @apply pt-5;
}
.post h1,
.post h2,
.post h3,
.post h4 {
  @apply py-2;
}

.post a:hover {
  @apply border-b border-hyperlink-blue;
}
.section2-bg-yellow {
  background-color: #fefdf9;
}
.section3-bg-gray {
  background-color: #fbfbfb;
}
.subscribe-bg-gray {
  background-color: #e4e4e4;
}
.radio-toolbar input[type="radio"] {
  @apply opacity-0 fixed w-0;
}
.radio-toolbar label {
  @apply inline-block w-16 border border-doctor-yellow px-2 py-1 text-gray-600 rounded-full text-center bg-white;
}
.radio-toolbar label:hover {
  @apply bg-doctor-yellow text-gray-100 cursor-pointer;
}
.radio-toolbar input[type="radio"]:focus + label {
  @apply bg-doctor-yellow text-gray-100 shadow-2xl;
}
.radio-toolbar input[type="radio"]:checked + label {
  @apply bg-doctor-yellow text-gray-100;
}

.filter-checkbox-button input[type="checkbox"] {
  @apply opacity-0 fixed w-0;
}
.filter-checkbox-button label {
  @apply inline-block border-2 px-2 py-1 rounded-md text-center bg-white w-full;
}
.filter-checkbox-button label:hover {
  @apply bg-gray-500 text-gray-100 cursor-pointer;
}
.filter-checkbox-button input[type="checkbox"]:focus + label {
  @apply bg-gray-500 text-gray-100 shadow-2xl;
}
.filter-checkbox-button input[type="checkbox"]:checked + label {
  @apply bg-gray-500 text-gray-800 border-gray-800;
}

.filter-radio-button input[type="radio"] {
  @apply opacity-0 fixed w-0;
}

.filter-radio-button label {
  @apply inline-block border-2 px-2 py-1 rounded-md text-center bg-white w-full;
}

.filter-radio-button label:hover {
  @apply bg-gray-500 text-gray-100 cursor-pointer;
}

.filter-radio-button input[type="radio"]:focus + label {
  @apply bg-gray-500 text-gray-100 shadow-2xl;
}

.filter-radio-button input[type="radio"]:checked + label {
  @apply bg-gray-500 text-gray-800 border-gray-800;
}

.about .a {
  @apply text-doctor-yellow;
}
.about a:hover {
  @apply border-b text-doctor-yellow;
}
.toggle-checkbox:checked {
  @apply right-0 border-doctor-yellow;
}

.toggle-checkbox:checked + .toggle-label {
  @apply bg-doctor-yellow;
}
.google-map {
  height: 700px;

  /* The height is 400 pixels */
  width: 100%;

  /* The width is the width of the web page */
}

.box-bottom-shadow {
  box-shadow: 0 60px 42px -86px black;
  border-bottom: 1px solid #f7f7f7;
}

.box-right-shadow {
  box-shadow: 60px 0 80px -70px black;
}

.tab-active {
  @apply border-t-4 rounded py-1 border-doctor-yellow;
}

.job-tab-active {
  @apply border-t-8 rounded-lg px-2 border-doctor-yellow;
}

.about-gray-background-light {
  background-image: url("../images/about_top_header.svg");
  background-size: contain;
}

.about-background-1 {
  // background-image: url("../images/1-01.svg");
  background: linear-gradient(to bottom, #f4f4f4, #efefef, #e0e0e0, #afb1b1);
  border-radius: 40px;
}

.about-background-2 {
  background-image: url("../images/2-01.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mission-background-1 {
  // background-image: url("../images/mission_bg_1.svg");
  background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
  border-radius: 40px;
}
.mission-background-2 {
  background-image: url("../images/mission_bg_2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mission-background-3 {
  background-image: url("../images/mission_bg_3.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mission-background-4 {
  background-image: url("../images/mission_bg_4.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mission-background-5 {
  background-image: url("../images/mission_bg_5.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  border-radius: 100%;
  height: 1em;
  width: 1em;
  color: #4299e1;
  background-color: #fff;
  border-color: #e2e8f0;
  border-width: 1px;
}

.form-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 540px) {
  .sidebar {
    position: fixed;
    background: #f7f7f7;
    left: -22px;
    top: 0;
    z-index: 99;
    border: 1px solid rgb(225, 225, 228);
    height: 100%;
    overflow: auto;
    padding-left: 50px;
  }
  .form-radio {
    width: 1.5em;
    height: 1.5em;
  }
}
@media screen and (max-width: 540px) {
  .slider__arrow--prev {
    left: -0.5rem !important;
    background: white;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
  }
  .slider__arrow--next {
    right: -0.5rem !important;
    background: white;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
  }
  .circle-doctors {
    height: 32rem !important;
  }
}
.search_width {
  width: 72%;
}
.w-max {
  width: max-content;
}
.circle-doctors {
  background-image: url("../images/10,000_doctors.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  @media only screen and (max-width: 768px) {
    height: 52rem;
  }
}
@media only screen and (min-width: 768px) {
  .online-directory {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    &-1 {
      background-image: url("../images/1.svg");
      height: 22rem;
    }
    &-2 {
      background-image: url("../images/2.svg");
      height: 23rem;
    }
    &-3 {
      background-image: url("../images/3.svg");
      height: 16rem;
    }
  }
  .circle-padding {
    padding-left: 8rem;
    padding-right: 10rem;
  }
}
.location-icon {
  .ap-input {
    padding-left: 30px !important;
  }
  .ap-input-icon {
    left: 30px !important;
  }
}
.rounded-16px {
  border-radius: 16px;
}

.directory-1 {
  border-right: 4px solid #e4e3e3;
  border-bottom: 3px solid #e4e3e3;
  border-top: 3px solid #e4e3e3;
  z-index: 9;
  &-circle {
    width: 10rem;
    height: 10rem;
    border: 14px solid #f3f4f5;
    background: linear-gradient(to right, #fefefe, #dfdfdf);
    box-shadow: inset 0 0 10px #000;
    z-index: 9;
  }
}

.directory-2 {
  z-index: 9;
  &-circle {
    width: 11rem;
    height: 11rem;
    border: 22px solid #d6d6d6;
    background: linear-gradient(to right, #fefefe, #dfdfdf);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 9;
  }
}
.line {
  height: 4px;
  background: transparent;
}
.line::before {
  content: "";
  height: 10px;
  width: 53px;
  float: left;
  background: #e7ab3f;
  top: 7rem;
  position: absolute;
  left: 14.3rem;
}
.line::after {
  float: right;
}
.h-80 {
  height: 80%;
}
.practice-bg {
  background-color: #f1f1f1;
  border-radius: 28px;
}
.line-pos {
  left: 7rem;
}
.top-dot {
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-dot {
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -20px;
}
.right-dot {
  top: 50%;
  transform: translate(-50%, -50%);
  right: -20px;
}

.custom-check {
  .checkbox-cont {
    @apply block relative cursor-pointer text-base select-none;
  }
  .checkbox-cont input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
  }
  .checkmark {
    @apply absolute top-0 left-0 h-5 w-5 bg-gray-200;
  }
  .checkbox-cont:hover input ~ .checkmark {
    @apply bg-gray-400;
  }
  .checkbox-cont input:checked ~ .checkmark {
    @apply bg-doctor-yellow;
  }
  .checkmark::after {
    @apply absolute hidden;

    content: "";
  }
  .checkbox-cont input:checked ~ .checkmark::after {
    @apply block;
  }
  .checkbox-cont .checkmark::after {
    @apply border-white;

    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.shadow-3d {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5),
    2px 2px 6px rgba(0, 0, 0, 0.6);
}
.rounded-20 {
  border-radius: 20px;
}
.cookie_close {
  right: 6.5rem;
  bottom: 17rem;
  @media screen and (max-width: 540px) {
    right: 0.5rem;
    bottom: 27rem;
  }
}
.auto_complete {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.6) !important;
  border: 1px solid #e2e8f0 !important;
  border-radius: 0.5rem !important;
  color: #718096 !important;
  font-size: 1rem;
  padding: 0 1rem 0 2.5rem !important;
  width: 100% !important;
}
.autoComplete_wrapper {
  position: relative;
  width: 100% !important;
  &::before {
    content: "\1F50D";
    position: absolute;
    left: 0;
    top: 13px;
    height: 24px;
    width: 24px;
    margin-left: 0.5em;
    overflow: visible;
    display: inline-block;
    line-height: 24px;
    z-index: 1;
  }
}
input::-webkit-input-placeholder {
  color: #718096 !important;
}

@media not all and (min-resolution: 0.001dpcm) {
  .ap-input-icon svg {
    left: -7% !important;
  }
}
