.radio-box input[type="radio"] {
  -webkit-appearance: none;
}
.radio-box label {
  height: 50px;
  width: 130px;
  border: 1px solid #e7ab00;
  position: relative;
  margin: auto;
  border-radius: 10px;
  color: #e7ab00;
  transition: 0.5s;
}

.radio-box label:hover {
  background-color: #e7ab00;
  color: #fff;
}

.radio-box label > span {
  font-size: 16px;
  position: absolute;
  top: -16%;
  left: 40%;
  transform: translate(-30%, 80%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.radio-box input[type="radio"]:checked + label {
  background-color: #e7ab00;
  color: white;
  box-shadow: 0 10px 25px rgba(231, 171, 0, 1);
}
