<%= form_for(:review, url: patient_reviews_url, class: "flex w-full", html: {target: "_blank"}, data: {type: "html", action: "ajax:error->message#errorHandler ajax:success->message#success" }) do |form| %>
  <div class="w-full review">
    <label for="exampleInputEmail1" class="text-gray-600 text-lg">Write a review</label>
    <div class="w-full mt-4 autocomplete-div" data-controller="autocomplete" data-autocomplete-url-value="<%=doctors_data_path%>">
      <div class="relative my-2">
        <input type="text" class="bg-purple-white shadow rounded border-0 p-3 pl-12 w-full " data-autocomplete-target="input" placeholder="Search by doctor name...">
        <div class="absolute pin-r pin-t -mt-8 mx-4 text-purple-lighter">
          <svg version="1.1" class="h-4 text-dark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966;" xml:space="preserve">
            <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
        c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
        C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
        S32.459,40,21.983,40z"/>
          </svg>
        </div>
      </div>
      <input type="hidden" name="doctor_id" data-autocomplete-target="hidden"/>
      <ul data-autocomplete-target="results" class="autocomplete"></ul>
    </div>
  </div>
  <div class="w-full">
    <div class="float-left pt-6 mb-4 pb-4">
      <button name="button" type="submit" class="btn btn-md btn-default btn-dd-blue btn-outline text-sm font-bold float-right" data-disable-with="<i class='fab fa fa-spinner fa-spin pr-2'></i> Post a review...">
      <span><i class="fab fa fa-floppy-o pr-2"></i>Post a review</span>
    </button>      </div>
</div>
<% end %>
