<section class="mt-32 bg-no-repeat bg-cover" style="background-image: url(system/light_grey_background.png);">
  <div class="sm:grid sm:w-full grid-cols-12">
    <div class="mt-32 col-span-1 relative">
      <%= image_pack_tag 'yellow_circle_outline_opacity.svg', class: "w-24" %>
      <div class="absolute top-0 mt-40">
        <%= image_pack_tag 'light_grey_3_lines_horizontal.svg'%>
      </div>
    </div>
    <div class="col-span-10 flex flex-wrap">
      <div class="sm:flex sm:w-full sm:mt-16 mx-20 sm:justify-center sm:flex-wrap">
        <div class="w-full flex justify-center">
          <div class="flex border rounded-lg shadow justify-between items-center sm:mr-24 py-1 w-3/4 bg-white">
            <div class="flex justify-center items-center w-full">
              <label class="ml-3 mr-5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 text-gray-600">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </label>
              <input class="my-2 w-full focus:outline-none" type="text" name="" placeholder="Find a DPC/Concierge doctor near you">
            </div>
            <div>
              <button class="bg-doctor-yellow text-gray-100 mr-4 rounded-md px-8 py-1">Search</button>
            </div>
          </div>
        </div>
        <div class="w-full mt-20 text-center">
          <h2 class="text-4xl font-hurmebold text-doctor-blue">Frequently asked questions</h2>
        </div>
        <div class="w-full mt-20 pb-48">
          <div class="sm:grid sm:grid-cols-12 sm:gap-16 w-full">
            <div class="col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-6 flex items-center shadow-md h-56">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-12 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="ml-6">
                  <h3 class="font-hurmebold text-xl text-doctor-blue inline-block align-middle">
                    What is Direct Primary Care (DPC)?
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-6 flex items-center shadow-md h-56">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-12 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="ml-6">
                  <h3 class="font-hurmebold text-xl text-doctor-blue ">
                    What is <br />
                    Concierge Medicine?
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-6 flex items-center shadow-md h-56">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-12 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="ml-6">
                  <h3 class="font-hurmebold text-xl text-doctor-blue ">
                    Difference between DPC and Concierge Medicine
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-12 sm:gap-16 w-full mt-12">
            <div class="col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-6 flex items-center shadow-md h-56">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-40 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="ml-6">
                  <h3 class="font-hurmebold text-xl text-doctor-blue ">
                    Difference between traditional insurance care models vs direct care models (DPC & Concierge Doctors)
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-6 flex items-center shadow-md h-56">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-20 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="ml-6">
                  <h3 class="font-hurmebold text-xl text-doctor-blue ">
                    Benefits of having a direct care doctor (DPC & Concierge Doctors)
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-6 flex items-center shadow-md h-56">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-20 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="ml-6">
                  <h3 class="font-hurmebold text-xl text-doctor-blue ">
                    Cost savings from using direct care doctors (DPC & Concierge Doctors)
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 grid">
      <div class="flex items-end relative justify-end pb-8">
        <div class="">
          <%= image_pack_tag 'light_yellow_slant.svg', class: "w-16 float-right" %>
        </div>
        <div class="absolute left-0 bottom-0 ml-6 mb-4">
          <%= image_pack_tag 'vector_plus_with_side_dots.svg', class: "w-16" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--

<section class="sm:grid sm:w-full mt-16 grid-cols-12">
  <div class="grid justify-between grid-cols-12">
    <div class="mt-32 col-span-1 relative"></div>
  </div>
  <div class="col-span-10 flex flex-wrap">

  </div>
  <div class="mt-32 col-span-1 relative"></div>
</section>
-->
