<section class="sm:grid sm:w-full grid-cols-12">
  <div class="col-span-1 relative">
    <div class="absolute bottom-0 -mb-56">
      <%= image_pack_tag 'yellow_circle_outline_opacity.svg', class: "sm:w-28" %>
    </div>
  </div>
  <div class="col-span-10 flex flex-wrap"></div>
  <div class="col-span-1 relative right-0 flex justify-end items-start h-12">
    <%= image_pack_tag 'yellow_circle_big_shadow.svg', class: "sm:w-12" %>
  </div>
</section>
