<section class="sm:grid sm:w-full mt-16 grid-cols-12 bg-cover bg-no-repeat" style="background-image: url(system/light_yellow_section_background.svg);">
  <div class="grid">
    <div class="mt-32 col-span-1 relative"></div>
  </div>
  <div class="col-span-10 flex flex-wrap mb-10 relative">
    <div class="sm:flex sm:w-full mx-20 sm:justify-center sm:flex-wrap">
      <div class="w-full mx-10 mt-32">
        <h3 class="text-doctor-blue font-glacialbold text-2xl">
          Take a Quiz to find out if you would benefit from a Primary Doctor/ Concierge Doctor/ Traditional Doctor
        </h3>
      </div>
      <div class="w-full mx-12 mt-10 ">
        <div class="p-4 flex w-full">
          <div class="w-3/4 text-xl">
            The content Quiz question should come here.
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100">
              No
            </a>
          </div>
        </div>
        <div class="p-4 flex w-full">
          <div class="w-3/4 text-xl">
            The content Quiz question should come here.
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100">
              No
            </a>
          </div>
        </div>
        <div class="p-4 flex w-full">
          <div class="w-3/4 text-xl">
            The content Quiz question should come here.
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100">
              No
            </a>
          </div>
        </div>
        <div class="p-4 flex w-full">
          <div class="w-3/4 text-xl">
            The content Quiz question should come here.
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100">
              No
            </a>
          </div>
        </div>
        <div class="p-4 flex w-full">
          <div class="w-3/4 text-xl">
            The content Quiz question should come here.
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100">
              No
            </a>
          </div>
        </div>
        <div class="p-4 flex w-full">
          <div class="w-3/4 text-xl">
            The content Quiz question should come here.
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100">
              No
            </a>
          </div>
        </div>
        <div class="p-4 flex w-full">
          <div class="w-3/4 text-xl">
            The content Quiz question should come here.
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100">
              No
            </a>
          </div>
        </div>
        <div class="flex w-full justify-end">
          <div class="w-1/4 mt-12 mb-20">
            <button class="bg-doctor-yellow px-8 py-2 rounded-lg text-gray-100 shadow">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1 absolute right-0">
    <div class="flex items-end justify-end">
      <div class="z-10">
        <%= image_pack_tag 'yellow_circle_chipped.svg', class: "float-right w-56" %>
      </div>
      <div class="absolute left-0 top-0">
        <%= image_pack_tag 'yellow_circle_full.svg', class: "w-8" %>
      </div>
      <div class="absolute">
        <%= image_pack_tag 'light_grey_5_line_dots.svg'%>
      </div>
    </div>
  </div>
</section>
