<section class="sm:grid sm:w-full mt-16 grid grid-cols-12">
  <div class="col-start-2 col-span-10 flex flex-wrap">
    <div class="w-full">
      <h3 class="text-doctor-blue font-glacialbold text-3xl tracking-wider mt-10">
        The Concierge Doctor Difference
      </h3>
    </div>
    <div class="w-11/12 mt-8">
      <ul class="list-disc list-outside ml-4">
        <li>Imagine a scenario where your doctor is not rushed, not boggled down by paperwork, and he/she has all the time you need to sit down and discuss your health. –
          <div class="verticalFlip">
            <span class="text-doctor-yellow">Exclusive & privileged</span>
            <span class="text-doctor-yellow">Patient centered healthcare</span>
            <span class="text-doctor-yellow">Exclusive & privileged</span>
            <span class="text-doctor-yellow">Patient centered healthcare</span>
          </div>
        </li>
        <li class="mt-4">Imagine seeing this same doctor every year, year after year to continually take care of you. –
          <div class="verticalFlip">
            <span class="text-doctor-yellow">Continuity of care</span>
            <span class="text-doctor-yellow">Longitudinal relationship</span>
            <span class="text-doctor-yellow">Continuity of care</span>
            <span class="text-doctor-yellow">Longitudinal relationship</span>
          </div>
        </li>
        <li class="mt-4">Now, imagine having direct access to this doctor’s personal phone and email for your urgent and unexpected needs round the clock (no answering service, no front desk call holds). –
          <div class="verticalFlip">
            <span class="text-doctor-yellow">Priority access</span>
            <span class="text-doctor-yellow">Peace of mind</span>
            <span class="text-doctor-yellow">Priority access</span>
            <span class="text-doctor-yellow">Peace of mind</span>
          </div>
        </li>
        <li class="mt-4">All this for a small out of pocket premium membership fee that probably costs less than what an average person spends every month on eating at a restaurant. This out of pocket expense is justified by 1) high value healthcare, 2) lower wholesale drugs/labs pricing, and 3) reducing the insurance premiums to cover only for inpatient hospitalization, procedures and sub-specialty care.
        </li>
        <li class="mt-4">This in a nutshell is
          <div class="verticalFlip">
            <span class="text-doctor-yellow">Direct Primary Care.</span>
            <span class="text-doctor-yellow">Concierge Medicine.</span>
            <span class="text-doctor-yellow">Direct Primary Care.</span>
            <span class="text-doctor-yellow">Concierge Medicine.</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
