<section class="sm:grid sm:w-full sm:mt-32 sm:grid-cols-12 flex mt-16">
  <div class="sm:col-span-1 relative">
    <%= image_pack_tag 'yellow_circle_small.svg', class: "w-10" %>
    <div class="absolute left-0 bottom-0 z-10">
      <%= image_pack_tag 'light_grey_3_lines_horizontal.svg'%>
    </div>
  </div>
  <div class="sm:col-span-10 flex flex-wrap section2-bg-yellow rounded-2lg px-10 py-10">
    <div class="flex flex-wrap sm:w-full">
      <div class="sm:w-9/12 my-2 w-full">
        <div class=" w-full font-hurmebold text-4xl text-doctor-blue">
          What we do
          <div class="border-b border-doctor-yellow pb-3 w-32"></div>
        </div>
        <div class="w-full mt-10 font-hurmebold text-2xl text-doctor-blue md:flex">
          <div class="w-full">Direct Primary Care (DPC) and Concierge doctors -</div>
          <div class="verticalFlip w-full sm:ml-6">
            <span class="text-doctor-yellow">Directory</span>
            <span class="text-doctor-yellow">Listings</span>
            <span class="text-doctor-yellow">Directory</span>
            <span class="text-doctor-yellow">Listings</span>
          </div>
        </div>
        <div class="w-full font-hurmebold text-2xl text-doctor-blue sm:mt-8 md:flex mt-16">
          <div class="w-full">Exponentially grow patient awareness of -</div>
          <div class="verticalFlip w-full sm:ml-6">
            <span class="text-doctor-yellow">DPC benefits</span>
            <span class="text-doctor-yellow ">
              <p class="">Concierge Doctor Benefits</p>
            </span>
            <span class="text-doctor-yellow">DPC benefits</span>
            <span class="text-doctor-yellow">Concierge Doctor Benefits</span>
          </div>
        </div>
        <div class="w-full font-hurmebold text-2xl text-doctor-blue sm:mt-8 md:flex mt-16">
          <div class="w-full">Connect patients with best-suited boutique -</div>
          <div class="verticalFlip w-full sm:ml-6">
            <span class="text-doctor-yellow">Concierge doctor</span>
            <span class="text-doctor-yellow">DPC doctor</span>
            <span class="text-doctor-yellow">Concierge doctor</span>
            <span class="text-doctor-yellow">DPC doctor</span>
          </div>
        </div>
      </div>
      <div class="sm:w-3/12 w-full sm:mt-16 mt-8">
        <div class="md:w-full flex flex-col justify-center mt-16 w-full">
          <div class="border shadow-lg px-4 py-2 rounded-lg bg-doctor-blue text-gray-100 cursor-pointer hover:bg-white hover:text-doctor-blue hover:border-doctor-blue">Find a Concierge Doctor near me</div>
          <div class="border shadow-lg px-4 py-2 rounded-lg mt-8 bg-doctor-blue text-gray-100 cursor-pointer hover:bg-white hover:text-doctor-blue hover:border-doctor-blue">Find a Direct Primary Care Doctor near me</div>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:col-span-1 flex items-bottom justify-end relative -mb-8">
    <div class="flex items-end relative justify-end bottom-0">
      <div class="mr-2">
        <%= image_pack_tag 'light_yellow_slant.svg', class: "w-16" %>
      </div>
      <div class="absolute left-0 mt-8 -mb-4 -ml-5">
        <%= image_pack_tag 'yellow_circle_big_shadow.svg', class: "w-12" %>
      </div>
    </div>
  </div>
</section>
