<section class="sm:grid sm:w-full mt-32 grid grid-cols-12">
  <div class="col-start-2 col-span-10">
    <div class="w-full">
      <h3 class="text-doctor-blue font-hurmebold text-4xl mt-10 text-center">
        The Concierge Doctor Difference
      </h3>
    </div>
    <div class="mx-16">
      <div class="w-full flex mt-12">
        <div class="w-1/2">
          <div class="verticalFlip font-hurmebold text-2xl pl-16">
            <span class="text-doctor-yellow">Exclusive & privileged</span>
            <span class="text-doctor-yellow">Patient centered healthcare</span>
            <span class="text-doctor-yellow">Exclusive & privileged</span>
            <span class="text-doctor-yellow">Patient centered healthcare</span>
          </div>
        </div>
        <div class="w-1/2">
          Imagine a scenario where your doctor is not rushed, not boggled down by paperwork, and he/she has all the time you need to sit down and discuss your health.
        </div>
      </div>
      <div class="w-full flex mt-8">
        <div class="w-1/2">
          <div class="verticalFlip font-hurmebold text-2xl pl-16">
            <span class="text-doctor-yellow">Continuity of care</span>
            <span class="text-doctor-yellow">Longitudinal relationship</span>
            <span class="text-doctor-yellow">Continuity of care</span>
            <span class="text-doctor-yellow">Longitudinal relationship</span>
          </div>
        </div>
        <div class="w-1/2">
          Imagine seeing this same doctor every year, year after year to continually take care of you
        </div>
      </div>
      <div class="w-full flex mt-8">
        <div class="w-1/2">
          <div class="verticalFlip font-hurmebold text-2xl pl-16">
            <span class="text-doctor-yellow">Priority access</span>
            <span class="text-doctor-yellow">Peace of mind</span>
            <span class="text-doctor-yellow">Priority access</span>
            <span class="text-doctor-yellow">Peace of mind</span>
          </div>
        </div>
        <div class="w-1/2">
          Now, imagine having direct access to this doctor’s personal phone and email for your urgent and unexpected needs round the clock (no answering service, no front desk call holds)
        </div>
      </div>
      <div class="w-full flex mt-8">
        <div class="w-1/2">
          <div class="verticalFlip font-hurmebold text-2xl pl-16">
            <span class="text-doctor-yellow">Priority access</span>
            <span class="text-doctor-yellow">Peace of mind</span>
            <span class="text-doctor-yellow">Priority access</span>
            <span class="text-doctor-yellow">Peace of mind</span>
          </div>
        </div>
        <div class="w-1/2">
          All this for a small out of pocket premium membership fee that probably costs less than what an average person spends every month on eating at a restaurant. This out of pocket expense is justified by 1) high value healthcare, 2) lower wholesale drugs/labs pricing, and 3) reducing the insurance premiums to cover only for inpatient hospitalization, procedures and sub-specialty care.
        </div>
      </div>
      <div class="w-full flex mt-8">
        <div class="w-1/2">
          <div class="verticalFlip font-hurmebold text-2xl pl-16">
            <span class="text-doctor-yellow">Direct Primary Care.</span>
            <span class="text-doctor-yellow">Concierge Medicine.</span>
            <span class="text-doctor-yellow">Direct Primary Care.</span>
            <span class="text-doctor-yellow">Concierge Medicine.</span>
          </div>
        </div>
        <div class="w-1/2">
          This in a nutshell is
        </div>
      </div>
    </div>
  </div>
</section>
