<section class="lg:mt-32 bg-no-repeat bg-cover" style="background-image: url(system/light_grey_background.png);">
  <div class="lg:grid lg:w-full grid-cols-12">
    <div class="lg:mt-32 col-span-1 relative">
      <%= image_pack_tag 'yellow_circle_outline_opacity.svg', class: "w-24" %>
      <div class="absolute top-0 lg:mt-40 mt-12">
        <%= image_pack_tag 'light_grey_3_lines_horizontal.svg'%>
      </div>
    </div>
    <div class="col-span-10 flex flex-wrap -mt-16 lg:-mt-1">
      <div class="lg:flex lg:w-full lg:mt-16 lg:mx-20 mx-8 lg:justify-center lg:flex-wrap">
        <div class="w-full flex justify-center relative z-10">
          <div class="md:flex border rounded-lg shadow justify-between items-center lg:mr-24 py-1 lg:w-3/4 w-full bg-white">
            <div class="flex justify-center items-center w-full">
              <label class="md:ml-3 md:mr-5 mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 text-gray-600">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </label>
              <input class="my-2 w-full focus:outline-none" type="text" name="" placeholder="Find a DPC/Concierge doctor near you">
            </div>
            <div class="pt-4 md:pt-0 flex justify-center mb-2 md:mb-0 md:mr-2">
              <button class="bg-doctor-yellow text-gray-100 rounded-md px-8 py-1 md:w-auto w-11/12">Search</button>
            </div>
          </div>
        </div>
        <div class="w-full lg:mt-20 md:mt-10 mt-24 text-center">
          <h2 class="text-4xl font-hurmebold text-doctor-blue">Frequently asked questions</h2>
        </div>
        <div class="w-full mt-20 lg:pb-48">
          <div class="lg:grid lg:grid-cols-12 lg:gap-16 w-full">
            <a href="blogs/direct-primary-care" target="_blank" class="transition duration-300 ease-in-out transform hover:scale-110 col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-4 flex items-center shadow-md h-56">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-12 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="mx-4">
                  <h3 class="font-hurmebold text-lg text-doctor-blue inline-block align-middle">
                    What is Direct Primary Care (DPC)?
                  </h3>
                </div>
              </div>
            </a>
            <a href="blogs/concierge-medicine" target="_blank" class="transition duration-300 ease-in-out transform hover:scale-110 col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-4 flex items-center shadow-md h-56 mt-6 lg:mt-auto">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-12 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="mx-4">
                  <h3 class="font-hurmebold text-lg text-doctor-blue ">
                    What is Concierge Medicine?
                  </h3>
                </div>
              </div>
            </a>
            <a href="blogs/difference-between-concierge-medicine-and-direct-primary-care/4180e158bf6d724f6bdd6d8708562c51" target="_blank" class="transition duration-300 ease-in-out transform hover:scale-110 col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-4 flex items-center shadow-md h-56 mt-6 lg:mt-auto">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-12 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="mx-4">
                  <h3 class="font-hurmebold text-lg text-doctor-blue ">
                    Difference between DPC and Concierge Medicine
                  </h3>
                </div>
              </div>
            </a>
          </div>
          <div class="lg:grid lg:grid-cols-12 lg:gap-16 w-full mt-12">
            <a href="blogs/primary-care-types" target="_blank"class="transition duration-300 ease-in-out transform hover:scale-110 col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-4 flex items-center shadow-md h-56">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-12 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="mx-4">
                  <h3 class="font-hurmebold text-lg text-doctor-blue ">
                    Difference between traditional insurance care models vs direct care models (DPC & Concierge Doctors)
                  </h3>
                </div>
              </div>
            </a>
            <a href="blogs/benefits-of-concierge-medicine/98f5cbdd3f123e341a615aac84432ead" target="_blank" class="transition duration-300 ease-in-out transform hover:scale-110 col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-4 flex items-center shadow-md h-56 mt-6 lg:mt-auto">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-12 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="mx-4">
                  <h3 class="font-hurmebold text-lg text-doctor-blue ">
                    Benefits of having a direct care doctor (DPC & Concierge Doctors)
                  </h3>
                </div>
              </div>
            </a>
            <a href="blogs/direct-patient-care" target="_blank"class="transition duration-300 ease-in-out transform hover:scale-110 col-span-4 bg-gray-100 rounded-tl-2lg rounded-br-2lg px-8 py-4 flex items-center shadow-md h-56 mt-6 lg:mt-auto">
              <div class="flex">
                <div class="grid grid-rows-2">
                  <div class="row-span-2">
                    <div class="mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-600 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </div>
                    <div class="border-l border-gray-500 h-12 ml-3 mt-2"></div>
                  </div>
                </div>
                <div class="mx-4">
                  <h3 class="font-hurmebold text-lg text-doctor-blue ">
                    Cost savings from using direct care doctors (DPC & Concierge Doctors)
                  </h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 grid">
      <div class="flex items-end relative justify-end pb-8">
        <div class="">
          <%= image_pack_tag 'light_yellow_slant.svg', class: "w-16 float-right" %>
        </div>
        <div class="absolute left-0 bottom-0 ml-6 mb-4">
          <%= image_pack_tag 'vector_plus_with_side_dots.svg', class: "w-16" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--

<section class="lg:grid lg:w-full mt-16 grid-cols-12">
  <div class="grid justify-between grid-cols-12">
    <div class="mt-32 col-span-1 relative"></div>
  </div>
  <div class="col-span-10 flex flex-wrap">

  </div>
  <div class="mt-32 col-span-1 relative"></div>
</section>
-->
