<header class="w-full">
  <% if flash[:notice] %>
    <div x-data="{ open: true }">
      <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500" x-show="open" @click.away="open = false">
        <span class="inline-block align-middle mr-8">
          <%= flash[:notice] %>
        </span>
        <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" @click="open = false">
          <span>×</span>
        </button>
      </div>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div x-data="{ open: true }">
      <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-orange-500" x-show="open" @click.away="open = false">
        <span class="inline-block align-middle mr-8">
          <%= flash[:alert] %>
        </span>
        <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" @click="open = false">
          <span>×</span>
        </button>
      </div>
    </div>
  <% end %>
  <div class="w-1/2">
    <div class="inline-flex text-gray-600">
      <h1 class="font-semibold text-2xl">My Profile</h1>
    </div>
  </div>
</header>
<section class="flex mt-6">
  <div class="w-full" data-controller="message tinymce slug doctor">
    <div class="w-full z-10" data-target="message.errors"></div>
    <%= render partial: 'form', locals: {
      doctor: @doctor,
      statuses: @statuses,
      doctor_degrees: @doctor_degrees,
      specialities: @specialities,
      states: @states,
      patients_in_panel: @patients_in_panel,
      price_ranges: @price_ranges,
      experiences: @experiences,
      button_text: 'Update'
    } %>
  </div>
</section>
